<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="${text.topic}">Название</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://bootstrapdocs.com/v2.0.4/docs/assets/js/bootstrap-tooltip.js"></script>
    <script>
        $(function () {
            var container = document.querySelector("#documentText");
            var words = container.innerHTML.split(/\s+/);
            var newContainer = $('<dd/>');
            $.each(words, function (i, item) {
                var $word = '<span class="word">' + ' ' + item + '</span>'
                newContainer.append($word);
            });
            container.innerHTML = newContainer[0].innerHTML;

            $(".word").click(function () {
                var listClasses = $(this).attr('class').split(' ');
                if (listClasses.indexOf('my') == -1) {
                    $(this)
                            .css('background-color', 'green')
                            .addClass('my');
                    saveNewWord(this);
                }
                else {
                    $(this)
                            .css('background-color', 'initial')
                            .removeClass('my');
                }

            });
        });
        
        function saveNewWord(word) {
            $.post('/cards', {word: word.innerText}, function (id) {
                popup(word);
            })
        };

        function popup(word) {
            $(word).tooltip({
                        title: 'Слово добавлено на изучение'
                    })
                   .tooltip('show');
            setTimeout(function() {$(word).tooltip('hide')}, 1200);
        }
    </script>
    <style>

    </style>
</head>
<body>
<h1 layout:fragment="header" th:text="${text.topic}">Название текста</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success" th:if="${globalMessage}"
         th:text="${globalMessage}">Some Success message
    </div>
    <dl>
        <dt>Загрузил</dt>
        <dd id="text" th:text="${text.user.login}">username</dd>
        <dt>Текст</dt>
        <dd class="#documentText" id="documentText" th:text="${text.documentText}">Some text...</dd>

    </dl>
    <div class="pull-left">
        <a href="#" th:href="@{'delete/' + ${text.id}}">Удалить</a> |
        <a href="#" th:href="@{'modify/' + ${text.id}}">Редактировать</a>
    </div>
</div>
</body>
</html>
