<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="tableLayout">
<head>
    <title>Все пользователи</title>
</head>
<body>
<h1 layout:fragment="header">Все пользователи</h1>
<div layout:fragment="content" class="container">
    <table data-toggle="table" data-pagination="true" data-page-size="20" data-page-list="[20, 50]"
           class="table table-bordered table-striped">
        <thead>
        <tr>
            <th data-field="user_id" data-sortable="true">ID</th>
            <th data-field="user_firstName" data-sortable="true">Имя</th>
            <th data-field="user_lastName" data-sortable="true">Фамилия</th>
            <th data-field="user_login" data-sortable="true">Логин</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.firstName}">Ivan</td>
            <td th:text="${user.lastName}">Petrov</td>
            <td><a href="#" th:href="@{'/users/' + ${user.id}}"
                   th:text="${user.login}">Логин</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>