<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="${user.login}">Профиль пользователя</title>
</head>
<body>
<h1 layout:fragment="header" th:text="${user.login}">Профиль пользователя</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success" th:if="${globalMessage}"
         th:text="${globalMessage}">Some Success message
    </div>
    <dl>
        <dt>ID</dt>
        <dd th:text="${user.id}">ID</dd>
        <dt>Фамилия</dt>
        <dd th:text="${user.lastName}">Фамилия</dd>
        <dt>Имя</dt>
        <dd th:text="${user.firstName}">Имя</dd>
        <dt>Загрузил</dt>
        <dd>
            <span th:if="${userStats.texts.empty}">Пока ничего нет</span>
            <span th:each="text : ${userStats.texts}">
                <code><a href="#" th:href="@{'/texts/' + ${text.id}}" th:text="${text.topic}">Название текста</a></code>
            </span>
        </dd>
        <dt>Добавлено слов для изучения</dt>
        <dd th:text="${userStats.cardsCount}">Пока ничего нет</dd>
        <dt>Изучено слов</dt>
        <dd th:text="${userStats.cardsMinded}">Пока ничего нет</dd>
        <dt>Не изучено слов</dt>
        <dd th:text="${userStats.cardsLearning}">Пока ничего нет</dd>
    </dl>
</div>
</body>
</html>